<h2>Welcome Administrator!</h2>

It's <%= Time.now %>

<div id="tabs">
	<ul>
		<li><a href="#tabs-1">My Dox</a></li>
		<li><a href="#tabs-2">Available Dox</a></li>
	</ul>
	<div id="tabs-1">
		<%= button_to 'Add a Dox', new_documentation_path%>
		
		<p> blah blah blah </p>		
	</div>
	
	<div id="tabs-2">
		<%= button_to 'View Doxes', :controller => 'documentations', :action => 'index'%>
	</div>
</div>
