<!--
	<div id="header">
		<div id="anno_area">
				<h1>&nbsp; Gowee Dox</h1>
		</div>
	</div>
	
	<div id="semi-header>">
		<div id="drag_demo_3" style="width:80px; height:80px; cursor:move; background:#88da5d; border:1px solid #333;"></div>
	 		 	<script type="text/javascript">
					new Draggable('drag_demo_3', { scroll: window });
	  			</script>
-->

<div id="header">
	<div id="url_area">
		<form  id="inputUrlForm">
			<h2> Enter website: </h2><input  type="text"  id="txtWebSite"  NAME="txtWebSite"  value="http://">
		 	<input  type="button"  value="Show"  id="Button1"  name="Button1"  onclick="return Button1_onclick()">
		</form>	
	</div>
	
	<h1> &nbsp; Gowee Dox &nbsp;</h1>
</div>

<div id="content">
	<iframe id="ifrm" name="ifrm" src="" scrolling="auto">
		Iframe not supported!
	</iframe>
					
	<div id="lessons_area">
		<h2> &nbsp; lessons area </h2>
		<form id="screenstepslive-search" action="">
			<p><input type="text" id="screenstepslive-search-field" value="" name="text"></input></p>
			<p><input type="submit" value="Search"></p>
		</form>	
		<h3>Search Results</h3>
		<div id="search_results"></div>
	</div>
</div>
		
	
